<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" type="image/png" href="../../vendors/jasmine/lib/jasmine-3.1.0/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="../../vendors/jasmine/lib/jasmine-3.1.0/jasmine.css">

    <script type="text/javascript" src="../../vendors/jasmine/lib/jasmine-3.1.0/jasmine.js"></script>
    <script type="text/javascript" src="../../vendors/jasmine/lib/jasmine-3.1.0/jasmine-html.js"></script>
    <script type="text/javascript" src="../../vendors/jasmine/lib/jasmine-3.1.0/boot.js"></script>

    <script src="../../vendors/jquery/jquery-3.2.1.min.js"></script>
<body>

<script src="Counter.js"></script>
<script src="Counter.spec.js"></script>

<script src="CluckCounterView.js"></script>
<script src="ClickCounterView.spec.js"></script>
</body>
</html>