<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Click Counter Module 만들기</title>
</head>
<body>

    <button id="counter-btn">증가</button>
    <div id="display-cnt">0</div>

    <script src="../../vendors/jquery/jquery-3.2.1.min.js"></script>

    <script src="Counter.js"></script>
    <script src="ClickCounterView.js.js"></script>
    <script>
        (() =>{
            //TODO
            const counter = ClickCounter();

        })()
    </script>

</body>

</html>